<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">


    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            Perform weblog maintenance operations for weblog #{reelerUiBean.currentWeblog.name}
        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-lg-12">                    
                    <h:form styleClass="form">
                        <div>
                            Flush the page cache for your weblog<br/>
                            <h:commandButton value="Flush Cache"
                                             class="btn btn-primary"/><br/>
                        </div>
                        <div>
                            Rebuild the search index for your weblog<br/>
                            <h:commandButton value="Rebuild Search Index"
                                             class="btn btn-primary"/><br/>
                        </div>
                        <div>
                            Reset the hit count for your weblog<br/>
                            <h:commandButton value="Reset Hit Count"
                                             class="btn btn-primary"/><br/>
                        </div>
                    </h:form>     
                </div>
            </div>

        </div>
        <div class="panel-footer"></div>
    </div>
</ui:composition>