<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">


    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            Manage Permissions of users in weblog #{reelerUiBean.currentWeblog.name}
        </div>

        <div class="panel-body">
            <p>#{labels.res.getString("memberPermissions.description")}</p>
            <div class="row">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">                    
                    <h:form styleClass="form">
                        <h:panelGroup id="messagePanel" layout="block" styleClass="control-label">
                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        </h:panelGroup>
                        <div class="row">
                            <div class="col-lg-2">Username</div>
                            <div class="col-lg-2">Admin</div>
                            <div class="col-lg-2">Author</div>
                            <div class="col-lg-2">Limited</div>
                            <div class="col-lg-2">Remove</div>
                        </div>
                        
                        
                        <h:panelGroup rendered="#{weblogBookmarkBean.bookmarks.size() > 0}">
                            
                        </h:panelGroup>

                    </h:form>     
                </div>
            </div>

        </div>
        <div class="panel-footer"></div>
    </div>
</ui:composition>

