
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <f:view>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><br/>
                     <small></small>
                    </a>
                    
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li jsf:id="li-myaccount"><a jsfc="h:link" outcome="/myaccount/index.xhtml" class="navbar-link"><i class="fa fa-user"></i> Account</a></li>
                        <li jsf:id="li-shop" class="#{view.viewId == '/shop/index.xhtml'? 'active': ''}"><a jsfc="h:link" outcome="shop" ><i class="fa fa-magic"></i> Shop</a></li>
                        <li jsf:id="li-checkout" class="#{view.viewId == '/checkout/index.xhtml'? 'active': ''}" rendered="#{cartBean.cart.numberOfItems > 0}"><a jsfc="h:link" outcome="checkout"><i class="glyphicon glyphicon-check"></i> Checkout</a></li>
                        <li jsf:id="li-cart" class="#{view.viewId == '/shop/cart.xhtml'? 'active': ''}"><a jsf:id="link-cart" jsfc="h:link" outcome="cart"><span class="label label-default label-as-badge" jsf:id="navbarItemCount" rendered="#{cartBean.cart.numberOfItems > 0}"> #{cartBean.cart.numberOfItems}</span><i class="glyphicon glyphicon-shopping-cart"></i> Cart</a></li>
                        <li jsf:id="li-login" class="#{view.viewId == '/login/login.xhtml'? 'active':''}" rendered="#{sessionScope.user eq null}"><a jsf:id="link-login" jsfc="h:link" outcome="login"><i class="glyphicon glyphicon-log-in"></i> Sign In</a></li>

                        <li jsf:id="li-logout" rendered="#{sessionScope.user ne null}"><a jsf:id="link-logout" jsfc="h:commandLink" action="#{loginBean.logout()}"><i class="glyphicon glyphicon-log-out"></i> Sign Out</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </f:view>
</ui:composition>


