<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">

    <div class="panel" jsfc="h:panelGroup" layout="block" rendered="#{indexBean.needsSetup()}">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <ui:include src="../user/profile/profile-form.xhtml">
                    <ui:param name="isSetup" value="#{true}"/>
                    <ui:param name="formTitle" value="Setup First/Admin User"/>
                    <ui:param name="bean" value="#{setupBean}"/>
                </ui:include>
            </div>

        </div>
    </div>
</ui:composition>

