

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-nav{
    float: right;
}

h2{
    margin-top: 0px;
}

/* Color of invalid field */
.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback {
    color: #a94442;
}
/*maybe this will workout long term, but for now its for h:message */
span.control-label.has-error:after{
    content: "\A";
    white-space: pre;
}

/* Color of valid field */
.has-success .control-label,
.has-success .help-block,
.has-success .form-control-feedback {
    color: #3c763d;
}

#calendar {
    table-layout: fixed;
}

div.alternating-row-container {
    padding: 15px;
    /* border: 5px; */
    /* border-color: black; */
}
div.alternating-row-container > div:nth-of-type(odd) {
    background: #e0e0e0;
}

.commentCheckBox { width: 8%; }
.commentForm { width: 76%; }

i{
    letter-spacing: 5px;
    font-size: medium;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}














