<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:jsf="http://xmlns.jcp.org/jsf">

    <div class="panel" jsfc="h:panelGroup" rendered="#{indexBean.weblogs.size() gt 0}" layout="block">
            <h2>Blogs</h2>
            <hr/>
            <ui:repeat value="#{indexBean.weblogs}" var="weblog" varStatus="status">
                <!-- handle -->
                <h1 class="mt-4">
                    <a href="#{request.contextPath}/#{weblog.handle}/">
                        <h:outputText value="#{weblog.name}" />
                    </a>
                </h1>
                <hr/>
            </ui:repeat>
        </div>
</ui:composition>

