<ui:composition template="/WEB-INF/weblogger/templates/pages/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:jsf="http://xmlns.jcp.org/jsf">
    <f:metadata>
        <f:viewParam id="dateString" name="dateString" value="#{weblogBean.dateString}"/>
        <f:viewAction action="#{weblogBean.dateViewAction}"/>
    </f:metadata>
    <ui:define name="title">#{weblogBean.weblog.name} - #{weblogBean.weblog.tagline}</ui:define>
    <ui:define name="navbar-brand">
        <a class="navbar-brand" href="#{request.contextPath}/#{weblogBean.handle}/">
            #{weblogBean.weblog.name} - #{weblogBean.weblog.tagline}
        </a>
    </ui:define>
    <ui:define name="content">
        <f:view>
            <h2>                                                
                <h:outputText value="#{weblogBean.date}" rendered="#{weblogBean.dateString.length() eq 6}">
                    <f:convertDateTime pattern="MMMM yyyy"
                                       locale="#{weblogBean.weblog.localeInstance}"
                                       timeZone="#{weblogBean.weblog.timeZoneInstance}"
                                       />
                </h:outputText>
                
                <h:outputText value="#{weblogBean.date}" rendered="#{weblogBean.dateString.length() eq 8}">
                    <f:convertDateTime dateStyle="default"
                                       locale="#{weblogBean.weblog.localeInstance}"
                                       timeZone="#{weblogBean.weblog.timeZoneInstance}"
                        />
                </h:outputText>
                
            </h2>
            <hr/>
            <div jsfc="h:panelGroup" rendered="#{weblogBean.viewEntries.size() eq 0}">
                No entries found for <h:outputText value="#{weblogBean.date}" rendered="#{weblogBean.dateString.length() eq 6}">
                                        <f:convertDateTime pattern="MMMM yyyy"
                                                           locale="#{weblogBean.weblog.localeInstance}"
                                                           timeZone="#{weblogBean.weblog.timeZoneInstance}"
                                                           />
                                    </h:outputText>

                                    <h:outputText value="#{weblogBean.date}" rendered="#{weblogBean.dateString.length() eq 8}">
                                        <f:convertDateTime dateStyle="default"
                                                           locale="#{weblogBean.weblog.localeInstance}"
                                                           timeZone="#{weblogBean.weblog.timeZoneInstance}"
                                            />
                                    </h:outputText>
            </div>
            <div jsfc="h:panelGroup" rendered="#{weblogBean.viewEntries.size() gt 0}">
                <ui:repeat value="#{weblogBean.viewEntries}" var="weblogEntry" varStatus="status">
                    <!-- Title -->
                    <h3 class="mt-4">
                        <a href="#{request.contextPath}/#{weblogBean.handle}/entry/#{weblogEntry.anchor}">
                            <h:outputText value="#{weblogEntry.title}" />
                        </a>
                    </h3>
                    <!-- Author -->
                    by <a href="/about.xhtml"><h:outputText value="#{weblogEntry.creatorUserName}" /></a>
                    <!-- Date/Time -->
                    <p>Posted on <h:outputText value="#{weblogEntry.pubTime.time}" >
                            <f:convertDateTime dateStyle="default"
                                               type="both"
                                               locale="#{weblogBean.weblog.localeInstance}"
                                               timeZone="#{weblogBean.weblog.timeZoneInstance}"/>
                        </h:outputText></p>
                    <!-- Post Content -->
                    <h:outputText value="#{weblogEntry.text}" escape="false" />
                    <hr/>
                </ui:repeat>
            </div>
        </f:view>
    </ui:define>
</ui:composition>

