<ui:composition template="/WEB-INF/weblogger/templates/pages/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:jsf="http://xmlns.jcp.org/jsf">
    <f:metadata>
        <f:viewAction action="#{weblogBean.weblogViewAction}"/>
    </f:metadata>
    <ui:define name="title">#{weblogBean.weblog.name} - #{weblogBean.weblog.tagline}</ui:define>
    <ui:define name="navbar-brand">
        <a class="navbar-brand" href="#{request.contextPath}/#{weblogBean.handle}/">
            #{weblogBean.weblog.name} - #{weblogBean.weblog.tagline}
        </a>
    </ui:define>
    <ui:define name="content">
        <f:view>
            <h2 class="text-center">Main</h2>
            <div jsfc="h:panelGroup" rendered="#{weblogBean.viewEntries.size() eq 0}">
                No entries found for Weblog #{weblogBean.weblog.name}
            </div>


            <div jsfc="h:panelGroup" rendered="#{weblogBean.viewEntries.size() gt 0}">
                <div class="row">
                    <div class="text-center" style="margin: 0 auto" id="top-paginatorContainer">
                        <ui:include src="/WEB-INF/weblogger/templates/shared/paginator.xhtml">
                            <ui:param name="paginator" value="#{weblogBean.paginator}"/>
                            <ui:param name="outcome" value="#{request.contextPath}/#{weblogBean.handle}"/>
                            <ui:param name="position" value="top"/>
                        </ui:include>
                    </div>
                </div>
                <hr/>
                <ui:repeat value="#{weblogBean.viewEntries}" var="weblogEntry" varStatus="status">
                    <!-- Title -->
                    <h3 class="mt-4">
                        <a href="#{request.contextPath}/#{weblogBean.handle}/entry/#{weblogEntry.anchor}">
                            <h:outputText value="#{weblogEntry.title}" />
                        </a>
                    </h3>
                    <!-- Author -->
                    by <a href="/about.xhtml"><h:outputText value="#{weblogEntry.creatorUserName}" /></a>
                    <!-- Date/Time -->                    
                    <p>
                        Posted on                     
                        <h:outputText value="#{weblogEntry.pubTime.time}" >                            
                            <f:convertDateTime dateStyle="default"
                                               type="both"
                                               timeZone="#{weblogBean.weblog.timeZone}"/>
                        </h:outputText>
                    </p>
                    <!-- Post Content -->
                    <h:outputText value="#{weblogEntry.text}" escape="false" />
                    <hr/>
                </ui:repeat>

                <div class="row">
                    <div class="text-center" style="margin: 0 auto" id="bottom-paginatorContainer">
                        <ui:include src="/WEB-INF/weblogger/templates/shared/paginator.xhtml">
                            <ui:param name="paginator" value="#{weblogBean.paginator}"/>
                            <ui:param name="outcome" value="#{request.contextPath}/#{weblogBean.handle}"/>
                            <ui:param name="position" value="bottom"/>
                        </ui:include>
                    </div>
                </div>
            </div>
        </f:view>
    </ui:define>
</ui:composition>

