<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">
    <f:view>
        <div class="row">   
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading panel-title">
                        Actions
                    </div>
                    <div class="panel panel-body">
                        
                        <div >
                            <a outcome="#{reelerUiBean.path}/bookmarkFolder.xhtml"
                               jsfc="h:link">
                                <f:param name="action" value="create"/>
                                <i class="fa fa-plus" aria-hidden="true"></i>Add Bookmark Folder
                            </a>  
                        </div>
                        <div >
                            <a outcome="#{reelerUiBean.path}/importBookmarksOPML.xhtml"
                               jsfc="h:link">
                                <f:param name="action" value="create"/>
                                <i class="fa fa-plus" aria-hidden="true"></i>Import bookmarks via OPML
                            </a>  
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </f:view>

</ui:composition>

