<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">

    <f:metadata>            
        <f:viewAction action="#{reelerUiBean.blogrollsViewAction()}"/>
    </f:metadata>
    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            Manage Bookmarks in weblog #{reelerUiBean.currentWeblog.name}
        </div>

        <div class="panel-body">
            <p>#{reelerUiBean.currentWeblog.bookmarkFolders.size() > 0} #{labels.res.getString("bookmarksForm.rootPrompt")}</p>
            <div class="row">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6">

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">                    

                    <h:panelGroup id="messagePanel" layout="block" styleClass="control-label">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{reelerUiBean.currentWeblog.bookmarkFolders.size() > 0}">
                        <h:form>
                            <div>
                                <ui:repeat value="#{reelerUiBean.currentWeblog.bookmarkFolders}" 
                                           var="folder">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <b><i class="fa fa-folder-o" aria-hidden="true"></i>
                                            #{folder.name}</b>
                                            <br/>
                                            <a href="bookmark.xhtml?action=create&amp;folderid=#{folder.id}">
                                                <i class="fa fa-plus" aria-hidden="true"></i>Create bookmark
                                            </a>
                                        </div>
                                    </div>
                                    <div jsfc="h:panelGroup" rendered="#{folder.bookmarks.size() eq 0}">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                No bookmarks found for folder #{folder.name}.
                                            </div>
                                        </div>
                                    </div>
                                    <div jsfc="h:panelGroup" rendered="#{folder.bookmarks.size() gt 0}">
                                        <div class="row">
                                            <div class="col-lg-3">Bookmark</div>
                                            <div class="col-lg-4">URL</div>
                                            <div class="col-lg-3">Newsfeed URL</div>
                                            <div class="col-lg-1">Edit</div>
                                            <div class="col-lg-1">Visit</div>
                                        </div>
                                        <div class="alternating-row-container">
                                            <ui:repeat value="#{folder.bookmarks}" var="bookmark">
                                                <div class="row ">
                                                    <div class="col-lg-3">#{bookmark.name}</div>
                                                    <div class="col-lg-4">#{bookmark.url}</div>
                                                    <div class="col-lg-3">#{bookmark.feedUrl}</div>
                                                    <div class="col-lg-1">
                                                        <a outcome="#{reelerUiBean.path}/bookmark.xhtml"
                                                           jsfc="h:link">
                                                            <f:param name="action" value="edit"/>
                                                            <f:param name="id" value="#{bookmark.id}"/>
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </a>  
                                                    </div>
                                                    <div class="col-lg-1"><a href="#{bookmark.url}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></div>
                                                </div>
                                            </ui:repeat>
                                        </div>
                                    </div>
                                </ui:repeat>
                            </div>
                        </h:form>
                    </h:panelGroup>


                </div>
            </div>

        </div>
        <div class="panel-footer"></div>
    </div>
</ui:composition>