<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
    <ui:composition template="/WEB-INF/weblogger/templates/reeler-ui/reelerUiTemplate.xhtml">
        <ui:define name="title">
            <h:outputText value="#{weblogCategoryAuthorBean.actionLabel} Category"></h:outputText>            
        </ui:define>

        <ui:define name="navigation">
            <ui:include src="navigation.xhtml">
                <ui:param name="page" value="categories"/>
                <ui:param name="pageBean" value="#{reelerUiBean}"/>
            </ui:include>
        </ui:define>
        <ui:define name="content">
            <f:view>
                <h2>#{weblogCategoryAuthorBean.actionLabel} Category for #{reelerUiBean.currentWeblog.name}</h2>
                <div id="weblogCategoryDiv">
                    <h:form id="weblogCategoryForm" class="form" prependId="false">   

                        <h:panelGroup id="messagePanel" layout="block">
                            <h:messages 
                                errorStyle="color: red" 
                                infoStyle="color: green" 
                                layout="table"/>
                        </h:panelGroup>


                        <div class="form-group">
                            <div>
                                <label jsf:for="name" 
                                       class="control-label #{name.isValid ? '':'has-error'}">Name</label>
                                <input jsfc="h:inputText"
                                       id="name"
                                       value="#{weblogCategoryAuthorBean.weblogCategory.name}"
                                       class="form-control"
                                       type="text"
                                       /> 
                                <h:message for="weblogCategoryForm:name" style="color: red"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <label jsf:for="description" class="control-label">Description</label>
                                <input jfsc="h:inputText"
                                       jsf:id="description"  
                                       jsf:value="#{weblogCategoryAuthorBean.weblogCategory.description}"                                       
                                       type="text"
                                       class="form-control"/>
                                <h:message for="weblogCategoryForm:description" style="color: red"/>
                            </div>
                        </div>

                        

                        <div class="form-group">
                            <div>
                                <label jsf:for="image" 
                                       class="control-label #{image.isValid ? '':'has-error'}">Image</label>
                                <input jsfc="h:inputText"
                                       id="image"
                                       value="#{weblogCategoryAuthorBean.weblogCategory.image}"
                                       class="form-control"
                                       type="text"
                                       /> 
                                <h:message for="weblogCategoryForm:image" style="color: red"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                               
                                <h:commandButton id="submitCategory" 
                                                 value="Save"
                                                 action="#{weblogCategoryAuthorBean.save}"
                                                 styleClass="btn btn-info">

                                </h:commandButton>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="#{weblogCategoryAuthorBean.id}"/>
                        <input type="hidden" name="action" value="#{weblogCategoryAuthorBean.action}"/>
                    </h:form>
                </div>
            </f:view>

        </ui:define>
        
        <ui:define name="sideNav"></ui:define>

    </ui:composition>

</html>

