<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">


    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            Manage Categories in weblog #{reelerUiBean.currentWeblog.name}
        </div>

        <div class="panel-body">
            <p><h:outputText value="#{labels.res.getString('commentManagement.tip')}"/></p>
            <div class="row">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">                    
                    <h:form styleClass="form">
                        <h:panelGroup id="messagePanel" layout="block" styleClass="control-label panel-info">
                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{reelerUiBean.currentWeblog.weblogCategories.size() > 0}">
                            <div class="row">
                                <div class="col-lg-2">Name</div>
                                <div class="col-lg-4">Description</div>
                                <div class="col-lg-2">Image URL</div>
                                <div class="col-lg-2">Edit</div>
                                <div class="col-lg-2">Remove</div>
                            </div>
                            <div class="alternating-row-container">
                                <ui:repeat value="#{reelerUiBean.currentWeblog.weblogCategories}" var="category">
                                    <div class="row">
                                        <div class="col-lg-2">#{category.name}</div>
                                        <div class="col-lg-4">#{category.description}</div>
                                        <div class="col-lg-2">#{category.image}</div>
                                        <div class="col-lg-2">                                            
                                            <a outcome="#{reelerUiBean.path}/category.xhtml"
                                               jsfc="h:link">
                                                <f:param name="action" value="edit"/>
                                                <f:param name="id" value="#{category.id}"/>
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit
                                            </a>                                                                                                                             
                                        </div>
                                        <div class="col-lg-2">
                                            <form jsfc="h:form"><a jsfc="h:commandLink" id="removeCategory">
                                                    <i class="fa fa-times" aria-hidden="true"></i>Remove</a>
                                            </form>
                                        </div>
                                    </div>
                                </ui:repeat>
                            </div>
                        </h:panelGroup>

                    </h:form>     
                </div>
            </div>

        </div>
        <div class="panel-footer"></div>
    </div>
</ui:composition>

