<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">
    <f:view>       
        <ui:include src="sideNavSearchForm.xhtml">
            <ui:param name="page" value="comments"/>
            <ui:param name="radioButtonName" value="approvedString"/>
            <ui:param name="radioButtonValues" value="#{weblogEntryAuthorBean.getStatuses()}"/>            
        </ui:include>
    </f:view>

</ui:composition>
