<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">
    
    <f:metadata>        
        <f:viewAction action="#{weblogEntryCommentBean.commentsViewAction}"/>
    </f:metadata>
    <f:loadBundle basename="ApplicationResources" var="msg"/>
    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            Manage comments in weblog #{weblogEntryCommentBean.weblog.name}
        </div>

        <div class="panel-body">
            <p>
                <h:outputText value="#{msg['commentManagement.tip']}" escape="false"/>
            </p>
            
            <div class="row">
                <div class="text-center" style="margin: 0 auto" id="top-paginatorContainer">
                    <ui:include src="/WEB-INF/weblogger/templates/shared/paginator.xhtml">
                        <ui:param name="page" value="#{weblogEntryCommentBean.pageNum}"/>
                        <ui:param name="paginator" value="#{weblogEntryCommentBean.paginator}"/>
                        <ui:param name="outcome" value="#{request.contextPath}#{reelerUiBean.path}/comments.xhtml"/>
                        <ui:param name="hrefStyle" value="queryString"/>
                        <ui:param name="position" value="top"/>
                    </ui:include>
                </div>
            </div>
            
            <hr/>

            <div  rendered="#{weblogEntryCommentBean.weblogEntryCommentVisitors.size() > 0}"
                  jsf:id="comments"
                  class="table-responsive">

                <h:dataTable value="#{weblogEntryCommentBean.weblogEntryCommentVisitors}" 
                             var="commentVisitor" 
                             rules="all" 
                             styleClass="table table-bordered table-striped table-hover table-responsive"
                             columnClasses="commentCheckBox,
                             commentCheckBox,
                             commentCheckBox,commentForm">

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{msg['commentManagement.columnApproved']}"
                                          escape="false"/>

                        </f:facet>
                        <div class="text-center alert alert-success" >
                            <h:form id="isApprovedForm">
                                <h:inputHidden id="entryid"
                                               value="#{weblogEntryCommentBean.entryid}"
                                               rendered="#{weblogEntryCommentBean.entryid ne null}"/>
                                    
                                <h:selectBooleanCheckbox id="isApproved"
                                                         value="#{commentVisitor.approved}">
                                    
                                    <f:ajax event="change"
                                            listener="#{weblogEntryCommentBean.setSpamAndApproval(commentVisitor)}"
                                            render="@form isSpamForm"/>
                                </h:selectBooleanCheckbox>
                                <div jsfc="h:messages" class="alert alert-success list-unstyled"/>
                            </h:form>
                        </div>
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{msg['commentManagement.columnSpam']}"/>
                        </f:facet>
                        <div class="text-center alert alert-warning">
                            <h:form id="isSpamForm">
                                 <h:inputHidden id="entryid"
                                               value="#{weblogEntryCommentBean.entryid}"
                                               rendered="#{weblogEntryCommentBean.entryid ne null}"/>
                                <h:selectBooleanCheckbox id="isSpam"
                                                         value="#{commentVisitor.spam}"
                                                         class="text-center">
                                    <f:ajax event="change"
                                            listener="#{weblogEntryCommentBean.setSpamAndApproval(commentVisitor)}"
                                            render="@form isApprovedForm"/>
                                    
                                </h:selectBooleanCheckbox>
                                <div jsfc="h:messages" class="alert alert-warning list-unstyled"/>
                            </h:form>
                        </div>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages._delete}"/>

                        </f:facet>
                        <div class="text-center alert alert-danger">
                            <h:form>
                                <h:selectBooleanCheckbox id="delete"
                                                         value=""/>
                            </h:form>
                        </div>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{msg['commentManagement.columnComment']}"/>
                        </f:facet>
                        <div >

                            <p><h:outputText value="#{msg['commentManagement.entryTitled']}"/>: #{commentVisitor.weblogEntryComment.weblogEntry.title}<br/>
                                <h:outputText value="#{msg['commentManagement.commentBy']}"/>: #{commentVisitor.weblogEntryComment.name}<br/>
                                <h:outputText value="#{msg['commentManagement.commentByURL']}"/>: <h:outputText value="#{commentVisitor.weblogEntryComment.url}"/>
                                <br/>
                                <h:outputText value="#{msg['commentManagement.postTime']}"/>: <h:outputText value="#{commentVisitor.weblogEntryComment.postTime}" >
                                    <f:convertDateTime type="both" dateStyle="full"/>
                                </h:outputText>
                            </p>

                        </div>

                        <h:form id="contentUpdateForm">
                            <div jsfc="h:messages" class="alert alert-success list-unstyled"
                                 errorClass="alert alert-danger list-unstyled"/>

                            <h:inputTextarea 
                                value="#{commentVisitor.weblogEntryComment.content}"
                                class="form-control "
                                rows="7"/>
                            <h:commandButton value="Save changes"
                                             class="btn btn-default"
                                             action="#{weblogEntryCommentBean.updateComment(commentVisitor.weblogEntryComment)}">
                                <f:ajax execute="@form" render="@form"/>
                            </h:commandButton>
                        </h:form>
                    </h:column> 

                </h:dataTable>
            </div>
        </div>
        <div class="panel-footer"></div>
    </div>
</ui:composition>