<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:param name="weblog" value="#{reelerUiBean.currentWeblog}"/>
    <f:metadata>            
        <f:viewAction action="#{weblogEntriesBean.entriesViewAction}"/>
    </f:metadata>
    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            Find and edit entries in weblog #{weblog.name}
        </div>

        <div class="panel-body">
            <p>#{labels.res.getString("weblogEntryQuery.tip")}</p>
            <div class="row">
                <div class="text-center" style="margin: 0 auto" id="top-paginatorContainer">
                    <ui:include src="/WEB-INF/weblogger/templates/shared/paginator.xhtml">
                        <ui:param name="page" value="#{weblogEntriesBean.pageNum}"/>
                        <ui:param name="paginator" value="#{weblogEntriesBean.paginator}"/>
                        <ui:param name="outcome" value="#{request.contextPath}#{weblogEntriesBean.outcome}"/>
                        <ui:param name="hrefStyle" value="queryString"/>
                        <ui:param name="position" value="top"/>
                    </ui:include>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-12">                    
                    <h:form styleClass="form">
                        <h:panelGroup id="messagePanel" layout="block" styleClass="control-label">
                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        </h:panelGroup>



                        <h:panelGroup rendered="#{weblog.weblogEntries.size() > 0}">

                            <h:dataTable value="#{weblog.weblogEntries}" 
                                         var="entry" 
                                         rules="all" 
                                         styleClass="table table-bordered table-striped table-hover"
                                         >

                                <h:column >
                                    <f:facet name="header">
                                        <h:outputText value="#{labels.res.getObject('weblogEntryQuery.pubTime')}"/>
                                    </f:facet>
                                    <h:outputText value="#{entry.pubTime.time}">
                                        <f:convertDateTime type="both" 
                                                           pattern="yyyy/MM/dd hh:mm a"
                                                           timeZone="#{weblog.timeZone}"/>
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{labels.res.getString('weblogEntryQuery.updateTime')}"/>
                                    </f:facet>
                                    <h:outputText value="#{entry.updateTime.time}">
                                        <f:convertDateTime type="both" pattern="yyyy/MM/dd hh:mm a"
                                                           timeZone="#{weblog.timeZone}"/>
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{labels.res.getString('weblogEntryQuery.title')}"/>
                                    </f:facet>
                                    <h:outputText value="#{entry.title}" escape="false"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{labels.res.getString('weblogEntryQuery.category')}"/>
                                    </f:facet>
                                    <h:outputText value="#{entry.category.name}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{messages._view}"/>
                                    </f:facet>
                                    <div class="text-center">
                                        <a href="#{request.contextPath}/#{weblog.handle}/entry/#{entry.anchor}"
                                           target="_blank">
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </div>
                                </h:column>
                                <h:column >
                                    <f:facet name="header">
                                        <h:outputText value="#{messages._edit}"/>
                                    </f:facet>
                                    <div class="text-center">
                                        <a outcome="#{reelerUiBean.path}/entry.xhtml"
                                           jsfc="h:link">
                                            <f:param name="action" value="edit"/>
                                            <f:param name="id" value="#{entry.id}"/>
                                            <i class="fa fa-pencil-square-o" ></i>
                                        </a>
                                    </div>
                                </h:column>
                                <h:column >
                                    <f:facet name="header">
                                        <h:outputText value="#{messages._delete}"/>
                                    </f:facet>
                                    <div class="text-center">
                                        <a outcome="#{reelerUiBean.path}/entry.xhtml"
                                           jsfc="h:link">
                                            <f:param name="action" value="delete"/>
                                            <f:param name="id" value="#{entry.id}"/>
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </h:column>
                            </h:dataTable>
                        </h:panelGroup>
                    </h:form>     
                </div>
            </div>
        </div>
        <div class="panel-footer"></div>
    </div>
</ui:composition>

