<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">
    <f:view>
        <div class="row">   
            <div class="col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-info" 
                         jsfc="h:panelGroup" 
                         layout="block"
                         rendered="#{weblogEntryAuthorBean.action eq 'edit'}">
                        <div class="panel-heading panel-title">
                            Comments
                        </div>
                        <div class="panel panel-body">
                            <div >
                                <h:link
                                    outcome="#{reelerUiBean.path}/comments.xhtml">
                                    <f:param name="entryid" value="#{weblogEntryAuthorBean.weblogEntry.id}"/>                                          
                                    <i class="fa fa-comments"></i> Comments[#{weblogEntryAuthorBean.getComments().size()}]
                                </h:link>
                            </div>
                        </div>
                    </div>
                    <ui:remove>
                    <div class="panel panel-info">
                        <div class="panel-heading panel-title">
                            Pending Entries
                        </div>
                        <div class="panel panel-body">
                            <div >
                                <ul>
                                    <ui:repeat value="#{weblogEntryAuthorBean.pendingEntries}"
                                               var="entry">
                                        <li>
                                            <h:link
                                                outcome="#{reelerUiBean.path}/entry.xhtml">
                                                <f:param name="action" value="edit"/>                                                
                                                <f:param name="id" value="#{entry.id}"/>                                          
                                                <i class="fa fa-pencil-square-o"></i> #{entry.title}
                                            </h:link>
                                        </li>                        
                                    </ui:repeat>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </ui:remove>
                    
                    <div class="panel panel-info">
                        <div class="panel-heading panel-title">
                            Recent Drafts
                        </div>
                        <div class="panel panel-body">
                            <div >
                                <ul class="list-unstyled">
                                    <ui:repeat value="#{weblogEntryAuthorBean.recentDrafts}"
                                               var="entry">
                                        <li >
                                            <h:link
                                                outcome="#{reelerUiBean.path}/entry.xhtml">
                                                <f:param name="action" value="edit"/>                                                
                                                <f:param name="id" value="#{entry.id}"/>                                          
                                                <i class="fa fa-pencil-square-o"></i> #{entry.title}
                                            </h:link>
                                        </li>                        
                                    </ui:repeat>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading panel-title">
                            Recent Entries
                        </div>
                        <div class="panel panel-body">
                            <div >
                                <ul class="list-unstyled">
                                    <ui:repeat value="#{weblogEntryAuthorBean.recentEntries}"
                                               var="entry">
                                        <li>
                                            <h:link
                                                outcome="#{reelerUiBean.path}/entry.xhtml">
                                                <f:param name="action" value="edit"/>                                                
                                                <f:param name="id" value="#{entry.id}"/>                                          
                                                <i class="fa fa-pencil-square-o"></i> #{entry.title}
                                            </h:link>
                                        </li>                        
                                    </ui:repeat>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </f:view>

</ui:composition>

