<ui:composition template="/WEB-INF/weblogger/templates/reeler-ui/reelerUiTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <ui:define name="title">
        <h:outputText value="#{weblogEntryAuthorBean.actionLabel} Entry"></h:outputText>            
    </ui:define>

    <ui:define name="head">
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/css/datetimepicker/jquery.datetimepicker.css"/>
        <script type="text/javascript" src="#{request.contextPath}/js/vendor/ckeditor_4.4.7_full/ckeditor/ckeditor.js"></script>  
    </ui:define>


    <ui:define name="navigation">
        <ui:include src="navigation.xhtml">
            <ui:param name="page" value="entry"/>
            <ui:param name="pageBean" value="#{reelerUiBean}"/>
            <ui:param name="customLabel" value="#{weblogEntryAuthorBean.actionLabel} Entry"/>
        </ui:include>
    </ui:define>
    <ui:define name="content">
        <ui:include src="entryContent.xhtml"/>
    </ui:define>

    <ui:define name="sideNav">
        <ui:include src="entrySideNav.xhtml"/>
    </ui:define>

    <ui:define name="postBody">
        <script src="#{request.contextPath}/js/vendor/moment.min.js"></script>
        <script src="#{request.contextPath}/js/vendor/datetimepicker/jquery.datetimepicker.js"></script>
        <script>
            Date.parseDate = function (input, format) {
                return moment(input, format).toDate();
            };
            Date.prototype.dateFormat = function (format) {
                return moment(this).format(format);
            };
        </script>
        <script>
            $('#strDateTimeOfPubDate').datetimepicker({
                format: 'YYYY MMM DD HH:mm a',
                formatTime: 'HH:mm',
                formatDate: 'YYYY MM DD'
            });
        </script>
    </ui:define>

</ui:composition>




