<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">
    <f:view>
        <div class="row">   
            <div class="col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-info">
                        <div class="panel-heading panel-title">
                            Media Files Side Nav
                        </div>
                        <div class="panel panel-body">
                            <div>
                                
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        
    </f:view>

</ui:composition>

