<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:composition template="/WEB-INF/weblogger/templates/reeler-ui/reelerUiTemplate.xhtml">
        
        <ui:define name="title">
            <h:outputText value="Category Admin"></h:outputText>            
        </ui:define>

        <ui:define name="head">
           
        </ui:define>

        <ui:define name="navigation">
            <ui:include src="navigation.xhtml">
                <ui:param name="page" value="mediafiles"/>
            </ui:include>
        </ui:define>
        <ui:define name="content">
            <f:view>
                
                
            </f:view>
        </ui:define>

        <ui:define name="postBody">
            
        </ui:define>
        
    </ui:composition>
    
</html>