<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">
    <f:view>

        <div class="row">   
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading panel-title">
                        Filter Entries
                    </div>
                    <div class="panel panel-body">
                        <p>Filter weblog entries by category, date, and/or status.</p>

                        <form id="searchForm"
                              name="searchForm" 
                              class="form">

                            <div jsfc="h:panelGroup" display="block" rendered="#{pageName eq 'entries'}">
                                <div class="form-group">                                    
                                    <label for="weblogEntryCategory" class="control-label">
                                        #{messages.WeblogEntry_category}
                                    </label>
                                    <select
                                        id="weblogEntryCategory"
                                        name="weblogEntryCategory"
                                        title="#{messages.WeblogEntry_category}" 
                                        class="form-control">
                                        <option value="">Select</option>                                        
                                        <c:forEach items="#{weblogEntryAuthorBean.weblog.weblogCategories}"
                                                   var="category">
                                            <c:choose >
                                                <c:when test="#{param.weblogEntryCategory ne category.id}">
                                                    <option value="#{category.id}">#{category.name} </option>
                                                </c:when >
                                                <c:otherwise>
                                                    <option value="#{category.id}" selected="selected">#{category.name} </option>
                                                </c:otherwise>                                                        
                                            </c:choose>
                                        </c:forEach>                                        
                                    </select>                                     
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="searchString" class="sideformrow">Search string</label>   
                                <input type="text" 
                                       name="searchString" 
                                       class="form-control"
                                       value="#{param.searchString}" 
                                       id="searchString"/>
                            </div>


                            <div class="form-group">
                                <label for="startDateString" class="sideformrow">Start date</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" 
                                           name="startDateString" 
                                           value="#{param.startDateString}"
                                           class="form-control"
                                           id="startDateString"
                                           autocomplete="off"/>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="endDateString" class="control-label">End date</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" 
                                           name="endDateString" 
                                           class="form-control"
                                           value="#{param.endDateString}"
                                           id="endDateString"
                                           autocomplete="off"/>
                                </div>
                            </div>
                            <div>
                                <label class="control-label">Pending status</label> 
                                <div class="checkbox">
                                    <label for="#{radioButtonName}ALL">
                                        <input type="radio" 
                                               name="#{radioButtonName}" 
                                               id="#{radioButtonName}ALL"
                                               value="ALL"
                                               checked="#{(param.get(radioButtonName) == 'ALL' or param.get(radioButtonName) eq null)? 'checked':''}"/>
                                        All</label>
                                </div>
                                <ui:repeat value="#{radioButtonValues}" var="value">
                                    <div class="checkbox">
                                        <label for="#{radioButtonName}#{value.toUpperCase()}">
                                            <input type="radio" 
                                                   name="#{radioButtonName}" 
                                                   id="#{radioButtonName}#{value.toUpperCase()}"
                                                   value="#{value.toUpperCase()}"
                                                   checked="#{(param.get(radioButtonName) == value.toUpperCase())? 'checked':''}"/>

                                            #{value}</label>
                                    </div>
                                </ui:repeat>
                            </div>
                            <input type="hidden" name="filter" value="true"/>
                            <input type="submit" 
                                   id="searchFormSubmit"
                                   class="btn btn-info"
                                   value="Filter"/>

                        </form>

                    </div>

                </div>
            </div>
        </div>
        
    </f:view>

</ui:composition>
