<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{adminUIBean.template}"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:param name="pageBean" value="#{adminUIBean}"/>
    <f:metadata>    
        <f:viewAction action="#{adminUIBean.viewAction('cacheinfo')}"/>              
    </f:metadata> 

    <ui:define name="pageContent">
        <form jsfc="h:form">

            <input type="hidden" name="page" value="cacheinfo"/>
            <h:commandButton class="btn btn-primary"
                             id="updateCacheInfo" 
                             value="#{messages.label_update} #{messages[adminUIBean.pages[adminUIBean.page][0]]}"
                             action="#{userAdminBean.updateUser()}"/>
            <input 
                jsf:id="cancelButton"
                type="button" 
                class="btn btn-secondary"
                value="Cancel" 
                onclick="window.location = '#{request.contextPath}#{reelerUiBean.path}'"/>
        </form>
    </ui:define>   

</ui:composition>
