<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{adminUIBean.template}"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:param name="pageBean" value="#{adminUIBean}"/>
    <f:metadata>    
        <f:viewAction action="#{adminUIBean.viewAction('users')}"/>              
    </f:metadata> 

    <ui:define name="pageContent">
        <div><h3>Select user to administer</h3>
            <p>Select user and click edit button to edit the user's profile and the user's weblogs.</p>
        </div>
        <form method="get" action="user-profile.xhtml">
            <select
                class="form-control"
                name="id"
                size="10">
                <ui:repeat value="#{userAdminBean.getUsers()}"
                           var="user">
                    <option value="#{user.id}">
                        #{user.userName}(#{user.emailAddress})
                    </option>
                </ui:repeat>
            </select>


            <input type="hidden" name="action" value="edit"/>
            <input
                type="submit"
                class="btn btn-primary"
                             id="updateUsers" 
                             value="Edit User"/>
            <input 
                jsf:id="cancelButton"
                type="button" 
                class="btn btn-secondary"
                value="Cancel" 
                onclick="window.location = '#{request.contextPath}#{reelerUiBean.pageHome}'"/>
        </form>
        <div><h3>New user creation</h3></div>
        <div>
            <span class="help-block">
                Or you can <a href="#{request.contextPath}#{reelerUiBean.pageHome}/admin/user-profile.xhtml">create a new user</a>
            </span>
        </div>
    </ui:define>   

</ui:composition>