<ui:composition template="/WEB-INF/weblogger/templates/pages/defaultTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:jsf="http://xmlns.jcp.org/jsf">
    <!-- Page Content -->
    <ui:define name="content">
        <ui:include src="weblogger/reeler-ui/setup/index.xhtml"/>
        
        <ui:include src="weblogger/pages/pinnedToMain.xhtml"/>
        
        <ui:include src="weblogger/pages/bloglist.xhtml"/>
    
    </ui:define>
    <!-- /.container -->
</ui:composition>
