<ui:composition template="/WEB-INF/weblogger/templates/reeler-ui/pageContentTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:define name="title">
        <h:outputText value="Edit Profile"></h:outputText>            
    </ui:define>

    <ui:define name="head">

    </ui:define>

    <ui:define name="navigation">

    </ui:define>
    <ui:define name="content">
        <f:view>
            <ui:include src="profile-form.xhtml">
                <ui:param name="formTitle" value="Edit Profile"/>
                <ui:param name="bean" value="#{userAdminBean}"/>
                <ui:param name="isAdmin" value="#{false}"/>
            </ui:include>
        </f:view>
    </ui:define>
    <ui:define name="sideNav">
       
    </ui:define>

    <ui:define name="postBody">

    </ui:define>

</ui:composition>


