<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">



    <form jsfc="h:form" jsf:id="profile" name="profile" prependId="false">

        <div class="formdiv my-4">
            <h2>
                <h:outputText value="#{formTitle}"/>
            </h2>
            <h:messages
                layout="table"
                infoClass="table alert alert-success"
                errorClass="table alert alert-danger"/>
            <div class="form-group #{userName.isValid()? '' : 'has-error'}">
                <label jsf:for="userName" class="control-label #{userName.isValid()? '' : 'has-error'}" >Username</label>
                <input type="text"
                       class="form-control #{userName.isValid()? '' : 'has-error'}"
                       binding="#{userName}"
                       jsfc="h:inputText"
                       id="userName" 
                       value="#{bean.user.userName}" 
                       readonly="#{param.action eq 'edit' ? 'true':'false'}"
                       />
                <h:message for="userName" errorClass="control-label has-error"/>
                <span class="help-block" jsfc="h:panelGroup" rendered="#{!isAdmin} or #{param.action eq 'edit'}">
                    Usernames can't be changed.
                </span>
                <span class="help-block" jsfc="h:panelGroup" rendered="#{isAdmin}">
                    A short one-word username for the user account. 
                    Please limit it to simple ASCII alphanumeric characters (a-z, A-Z and 0-9), 
                    and do not use HTML
                </span>
            </div>

            <div class="form-group">
                <label jsf:for="screenName" class="control-label">Screen Name</label>
                <input type="text"
                       class="form-control"
                       jsf:id="screenName" 
                       jsf:value="#{bean.user.screenName}"/>

                <span class="help-block" jsfc="h:panelGroup" rendered="#{!isAdmin}">
                    Your desired screen name (with no HTML). This is is what will be displayed 
                    in your weblog and on weblog entries that you write.
                </span>

            </div>

            <div class="form-group">
                <label jsf:for="fullName" class="control-label">Full Name</label>
                <input type="text"
                       class="form-control"
                       jsf:id="fullName"
                       jsf:value="#{bean.user.fullName}"/>

                <span class="help-block" jsfc="h:panelGroup" rendered="#{!isAdmin}">
                    Your full name (with no HTML), first and last. 
                    Some weblog themes will display this instead of (or in addition to) your screenname.
                </span>

            </div>

            <div class="form-group">
                <label jsf:for="emailAddress" class="control-label">Email</label>
                <input type="text" 
                       class="form-control"
                       jsf:id="emailAddress" 
                       jsf:value="#{bean.user.emailAddress}"/>

                <span class="help-block" jsfc="h:panelGroup" rendered="#{!isAdmin}">
                    Please enter valid email address, the site administrator may disable your account 
                    if he/she cannot reach you via email.</span>

            </div>


            <div class="form-group">
                <label jsf:for="passwordText" class="control-label">Password</label>
                <h:inputSecret 
                    class="form-control"
                    id="passwordText"
                    binding="#{passwordComponent}"/>
                <h:message for="passwordText"/>
                <span class="help-block" jsfc="h:panelGroup" rendered="#{!isAdmin}">
                    Your password.  Fill in only if you wish to change it.
                </span>

            </div>

            <div class="form-group">
                <label jsf:for="passwordConfirm" class="control-label">Password (Confirm)</label>
                <h:inputSecret 
                    class="form-control"
                    id="passwordConfirm"
                    required="#{not empty passwordText.value}">
                    <f:validator validatorId="confirmPasswordValidator"/>
                    <f:attribute name="passwordComponent" value="#{passwordComponent}"/>
                </h:inputSecret>
                <h:message for="passwordConfirm"
                           errorClass="control-label has-error"/>
                <span class="help-block" jsfc="h:panelGroup" rendered="#{!isAdmin}">
                    Confirm your password.
                </span>
            </div>

            <div class="form-group">
                <label jsf:for="locale" >Locale</label>

                <select
                    id="locale"
                    name="locale"
                    jsfc="h:selectOneMenu"
                    title="Locale" 
                    class="form-control" 
                    value="#{bean.user.locale}"
                    required="true">
                    <option jsfc="f:selectItems" 
                            value="#{selectItemBean.localeItems}" 
                            var="locale" 
                            itemValue="#{locale.value}"
                            itemLabel="#{locale.label}" />

                </select>
                <h:message for="locale"/>
                <span class="help-block" jsfc="h:panelGroup" rendered="#{!isAdmin}">
                    Your preferred locale
                </span>
            </div>

            <div class="form-group">
                <label jsf:for="timeZone" >Timezone</label>
                <select
                    id="timeZone"
                    name="timeZone"
                    jsfc="h:selectOneMenu"
                    title="Time Zone" 
                    class="form-control" 
                    value="#{bean.user.timeZone}"
                    required="true">
                    <option jsfc="f:selectItems" 
                            value="#{selectItemBean.timeZoneItems}" 
                            var="tz" 
                            itemValue="#{tz.value}"
                            itemLabel="#{tz.label}" />

                </select>
                <h:message for="timeZone" />
                <span class="help-block" jsfc="h:panelGroup" rendered="#{!isAdmin}">
                    The timezone to be used for entry and display of this weblog.
                </span>
            </div>

            <div
                jsfc="h:panelGroup" 
                layout="block"
                rendered="#{isAdmin}">
                <div class="form-group">
                    <label jsf:for="isEnabled">
                        <h:selectBooleanCheckbox id="isEnabled" 
                                                 value="#{bean.user.isEnabled}"/>
                        Enabled
                    </label>
                </div>
                <div class="form-group">
                    <label jsf:for="isAdministrator">
                        <h:selectBooleanCheckbox id="isAdministrator"/>
                        Administrator
                    </label>
                </div>
            </div>
            

            <input type="hidden" 
                   jsfc="h:inputHidden" 
                   name="id"
                   rendered="#{bean.id ne null}"
                   value="#{bean.id ne null ? id : ''}"/>
            <input type="hidden" name="action" value="#{bean.action}"/>
        </div>

        <br />
        <input jsfc="h:commandButton"
               type="submit" 
               id="profile_save" 
               value="Save User" 
               class="btn btn-primary"
               action="#{bean.createUser()}"
               rendered="#{bean.action eq 'create'}"/>

        <input jsfc="h:commandButton"
               type="submit" 
               id="profile_edit" 
               value="Edit User" 
               class="btn btn-primary"
               action="#{bean.updateUser()}"
               rendered="#{bean.action eq 'edit'}"/>

        <input type="button" 
               value="#{messages._cancel}"
               onclick="window.location.href = '#{request.contextPath}#{bean.pageHome}'"
               class="btn btn-secondary"/>

    </form>
</ui:composition>

