<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">

    <div class="row">   
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active" ><a href="#{request.contextPath}#{pageBean.path}/">#{messages[ pageBean.pages['index'][1] ]}</a></li>
            </ul>
            <div class="row">   
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <ui:repeat value="#{pageBean.pages.keySet().toArray()}" var="key">
                            <li class="#{pageBean.page == key ? 'active': ''}" >                                                        
                                <a href="#{request.contextPath}#{pageBean.path}/#{key}.xhtml"
                                   id="nav">
                                    #{((pageBean.page == key) and (customLabel ne null)) ? customLabel : messages[pageBean.pages[key][0]]}
                                </a>
                            </li>
                        </ui:repeat>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ui:composition>

