<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">


    <h:head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


        <ui:insert name="meta"></ui:insert>
        <title><ui:insert name="title">For Reeler</ui:insert></title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/css/datetimepicker/jquery.datetimepicker.css"/>
        
        <!-- Custom CSS -->        
        <link rel="stylesheet" href="#{request.contextPath}/css/main.css"/>


        <link rel="icon" type="image/gif" href="/favicon.ico" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

        <!-- Temporary fix for navbar responsiveness -->
        <style>
            .navbar-toggler {
                z-index: 1;
            }

            @media (max-width: 576px) {
                nav > .container {
                    width: 100%;
                }
            }
        </style>
       
        <script type="text/javascript" src="#{request.contextPath}/js/vendor/ckeditor_4.4.7_full/ckeditor/ckeditor.js"></script>  
        <ui:insert name="head"></ui:insert>
    </h:head>

    <h:body>
        <ui:insert name="topBody"></ui:insert>
        <!-- Navigation -->
        <ui:insert name="header">                
            <ui:include src="header.xhtml" />  
        </ui:insert>


        <!-- Page Content -->
        <f:view>
            <main>
                <div class="container-fluid">
                    <ui:insert name="navigation">                

                    </ui:insert>
                    <div class="row">
                        <div class="col-md-9">
                            <div id="content">
                                <ui:insert name="content">                   

                                </ui:insert>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div id="sideNav">
                                <ui:insert name="sideNav">
                                    <ui:include src="rightNav.xhtml"/>
                                </ui:insert>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </f:view>
        <!-- /.container -->

        <ui:insert name="footer">
            <ui:include src="footer.xhtml" />  
        </ui:insert>
        <ui:include src="loader.xhtml"/>

        <!-- jQuery Version 3.2.1 -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



        <script src="#{request.contextPath}/js/reelerUi.js"></script>
        <ui:insert name="postBody">
                <script src="#{request.contextPath}/js/vendor/moment.min.js"></script>
                <script src="#{request.contextPath}/js/vendor/datetimepicker/jquery.datetimepicker.js"></script>
                <script>
                    Date.parseDate = function (input, format) {
                        return moment(input, format).toDate();
                    };
                    Date.prototype.dateFormat = function (format) {
                        return moment(this).format(format);
                    };
                </script>
        </ui:insert>

    </h:body>

</html>

