<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <f:view>
        <!-- Sidebar Widgets Column -->
        <div class="panel panel-group">
            <!-- Search Widget -->
            <div class="panel panel-info">
                <h5 class="panel-heading panel-title">
                    Actions
                </h5>

                <div class="panel-body">
                    <a href="#{request.contextPath}#{reelerUiBean.pageHome}/user/profile/index.xhtml?action=edit">Edit User Profile</a>
                    <span class="help-block">Change user info, locale, timezone</span>
                    <hr/>
                    <h:form><a action="#{reelerUiBean.newWeblog()}" jsfc="h:commandLink">
                        <f:param name="action" value="create"/>Create new blog</a></h:form>
                    <span class="help-block">Create a new weblog</span>         
                    <hr/>
                    <div jsf:id="serverAdminLink" rendered="#{reelerUiBean.user.roles
                                                              .stream()
                                                              .anyMatch(r->r.roleName.equals('admin')
                                                              )}">
                        <a href="#{request.contextPath}#{adminUIBean.path}/">Server Administration</a>
                        <span class="help-block">Make site-wide administration changes</span>
                    </div>
                </div>
            </div>

        </div>
    </f:view>
</ui:composition>

