<ui:composition 
    template="/WEB-INF/weblogger/templates/pages/defaultTemplate.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:jsf="http://xmlns.jcp.org/jsf"
    xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">Reset Password</ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="panel panel-primary my-4">

                    <div class="panel-heading panel-title panel-primary">
                        <h2><i class="fa fa-undo"></i> Reset Password</h2>
                    </div>


                    <div class="panel-body">
                        <h:form id="login" class="form-horizontal" role="form">
                            <h:messages errorClass="alert alert-danger"
                                        layout="table"
                                        globalOnly="false"/>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label for="username" class="control-label">Username</label>
                                    <div>
                                        <input type="text"
                                               jsfc="h:inputText"
                                               id="username"
                                               name="username"
                                               binding="#{username}"
                                               value="#{loginBean.username}"
                                               class="form-control"
                                               required="true"
                                               requiredMessage="Username is required"
                                               ps:required="true"
                                               ps:requiredMessage="Username is required"
                                               ps:autofocus="autofocus"
                                               />


                                    </div>
                                </div>
                            </div>  

                            <div class="btn-group">
                                <h:commandButton id="submit"
                                                 class="btn btn-primary"
                                                 value="Sign In"
                                                 action="#{loginBean.validateUser}"
                                                 />
                            </div>



                        </h:form>
                    </div>

                    <div class="panel-footer">

                    </div>
                </div>
            </div>

        </div>
    </ui:define>

</ui:composition>