
<ui:composition template="/WEB-INF/weblogger/templates/reeler-ui/reelerUiTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">
    <f:metadata>        
        <f:viewAction action="#{reelerUiBean.indexViewAction}"/>
    </f:metadata>
    <ui:define name="title">Reeler UI</ui:define>

    <!-- Page Content -->
    
    <ui:define name="content">
        <div class="panel panel-primary">
            <div class="panel-heading panel-title">
                <i class="fa fa-user" aria-hidden="true"></i> 
                Welcome to Reeler Admin, #{reelerUiBean.user.fullName}                
            </div>

            <div class="panel-body">
                Select a Blog to edit, manage, or configure.
                <div class="panel-group">
                <ui:repeat value="#{reelerUiBean.userWeblogs}" var="blog" varStatus="status">
                    <div class="panel panel-default">
                        <h3 class="panel-heading panel-title">#{blog.name}</h3>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-6">
                                    <c:set var="link" value="#{request.contextPath}/#{blog.handle}/"/>
                                    <i class="fa fa-external-link" aria-hidden="true"></i>Link: <a href="#{link}" target="_blank">#{link}</a><br/>
                                    <i class="fa fa-id-card" aria-hidden="true"></i>Permission: <h:outputText 
                                        value="#{reelerUiBean.userWeblogPermissions.get(blog.handle)}"/><br/>
                                    Description: #{blog.about}<br/>
                                    <i class="fa fa-user" aria-hidden="true"></i>Members: <br/>
                                    Today's hits:<br/>
                                </div>

                                <div class="col-6">
                                    <form jsfc="h:form">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <a action="#{reelerUiBean.action(blog,'entry')}"
                                                           jsfc="h:commandLink"><f:param name="action" value="create"/>New Entry</a></form><br/>
                                    <form jsfc="h:form">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                        <a action="#{reelerUiBean.action(blog,'entries')}"
                                                           jsfc="h:commandLink">Entries()</a></form><br/>
                                    <form jsfc="h:form"><i class="fa fa-comments" aria-hidden="true"></i>
                                        <a action="#{reelerUiBean.action(blog,'comments')}"
                                                           jsfc="h:commandLink">Comments()</a></form><br/>
                                    <form jsfc="h:form">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                        <a action="#{reelerUiBean.action(blog,'config')}"
                                                           jsfc="h:commandLink">Settings</a>
                                    </form><br/>

                                </div>

                            </div>
                        </div>
                    </div>
                </ui:repeat>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>    


    </ui:define>
    
    <ui:define name="postBody">


    </ui:define>
</ui:composition>



<!-- /.container -->



